<!DOCTYPE html>
<html>

<head>
	<title>Express with EJS Template Engine</title>
</head>

<body>
	<h1>My Blog</h1>
	<% data.forEach(element => { %>
		<h2><%= element.title %></h2>
	
		<p><% element.content %></p>

	<% }) %>

	<form action="/" method="post">
		<input type="text" placeholder="Title" name="inputTitle">
		<input type="text" placeholder="Content" name="inputContent">
		<button type="submit">Submit</button>
	</form>
</body>

</html>
